button {
  border-radius: var(--border-radius-100);
  border: 0;

  color: var(--clr-button-fg);
  font-weight: bold;
}

.btn-large {
  font-size: 18px;
  padding: 20px 25px;
}

.btn-small {
  font-size: 15px;
  padding: 10px 15px;
}

.btn-dark {
  background: var(--clr-button-dark);
}

.btn-darker {
  background: var(--clr-button-darker);
}
