nav {
  --nav-gap: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--nav-gap);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--nav-gap);

  font-size: 14px;
}

@media (max-width: 1200px) {
  nav {
    width: 100%;
    justify-content: space-between;
  }

  .nav__ul {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav__button {
    display: none;
  }
}
