.hero {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  max-width: 560px;

  font-size: 20px;
}

.hero__buttons {
  display: flex;
  gap: 30px;
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .hero__buttons {
    flex-direction: column;
    width: 100%;
  }
}
