.newsletter {
  padding-block: 80px;
  display: grid;
  justify-content: center;
}

.newsletter h3 {
  color: var(--clr-neutral-100);
  margin-bottom: 40px;
}

.input-wrapper {
  background: var(--clr-bg-white);

  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  border-radius: var(--border-radius-100);
}

.newsletter form {
  width: 100%;
  display: flex;
}

.newsletter input {
  font: inherit;
  border: 0;
  padding: 21.5px 20px;
  flex: 1;
  min-width: 50px;
}

.newsletter input:focus {
  outline: 0;
}

.newsletter button {
  margin: 5px;
}

@media (min-width: 1200px) {
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .newsletter .input-wrapper {
    max-width: 560px;
  }

  .newsletter h3 {
    margin-bottom: 0;
  }
}
