.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
}

.header__button-wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  .header__button-wrapper {
    display: none;
  }
}
