.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
}

.header__button-wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  .header__button-wrapper {
    display: none;
  }
}

.fixed-header {
  animation: slideFadeIn 0.35s ease-in-out forwards;

  background: var(--clr-bg-white);

  position: fixed;
  top: 0;
  left: 0;
  padding-inline: 30px;
  width: 100%;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
