.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding-block: 60px;
}

@media (max-width: 600px) {
  .partners {
    gap: 40px 20px;
  }
}
