footer {
  border-top: 1px solid var(--clr-purple-200);
}

footer p,
footer a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--clr-neutral-100);
}

.footer {
  padding-block: 50px;
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
  }

  .footer p {
    width: max-content;
  }
}
