footer {
  border-top: 1px solid var(--clr-purple-200);
  padding-block: 50px;
}

footer p,
footer a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--clr-neutral-100);
}

.footer {
}
