.footer-nav {
  --vertical-gap: 20px;
  --horizontal-gap: 50px;
}

.footer-nav__ul {
  list-style: none;
  font-size: 14px;
  padding-block: 40px;

  display: flex;
  flex-direction: column;
  gap: var(--vertical-gap);
}

.footer-nav a,
.footer-nav a:visited,
.footer-nav a:focus {
  color: var(--clr-neutral-100);
}

.footer-nav a:hover {
  color: var(--clr-neutral-400);
}

@media (min-width: 1000px) {
  .footer-nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 80px;
  }

  .footer p {
    margin-left: auto;
  }

  .footer-nav__ul {
    flex-direction: row;
    padding-block: 0;
  }
}
