@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("/fonts/Helvetica.ttf");
  font-display: swap;
}

:root {
  /* colors */
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #ced7f1;
  --clr-neutral-300: #eaecf2;
  --clr-neutral-400: #d0d6e7;
  --clr-blue-100: #393dcf;
  --clr-blue-200: #11225b;
  --clr-blue-300: #140f46;
  --clr-purple-100: #433d5c;
  --clr-purple-200: #434064;

  --clr-bg-dark: var(--clr-blue-300);
  --clr-bg-light: var(--clr-neutral-300);
  --clr-bg-white: var(--clr-neutral-100);

  --clr-button-darker: var(--clr-blue-200);
  --clr-button-dark: var(--clr-blue-100);
  --clr-button-fg: var(--clr-neutral-100);

  --border-radius-100: 2px;

  --clr-link-dark: var(--clr-blue-300);
  --clr-link-light: var(--clr-blue-100);

  /* font */
  --ff-primary: Helvetica, "Arial", sans-serif;
}

body {
  font-family: var(--ff-primary);
}

#root {
  min-height: 100%;
}

/* consistent padding for all sections */
#root > * {
  padding-inline: 30px;
}

.column-large,
.column-small {
  margin: 0 auto;
}

.column-large {
  max-width: 1400px;
}

.column-small {
  max-width: 1160px;
}

.bg-light {
  background: var(--clr-bg-light);
}

.bg-white {
  background: var(--clr-bg-white);
}

.bg-dark {
  background: var(--clr-bg-dark);
  color: var(--clr-neutral-100);
}

a,
a:visited,
a:focus {
  text-decoration: none;
  font-weight: bold;
  color: var(--clr-link-dark);

  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--clr-link-light);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-blue-300);
}

p {
  color: var(--clr-purple-100);
}

h2 {
  font-size: 50px;
  line-height: 60px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 28.8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
