@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica.ttf");
}

:root {
  /* colors */
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #ced7f1;
  --clr-neutral-300: #eaecf2;
  --clr-neutral-400: #d0d6e7;
  --clr-blue-100: #393dcf;
  --clr-blue-200: #11225b;
  --clr-blue-300: #140f46;
  --clr-purple-100: #433d5c;
  --clr-purple-200: #434064;

  /* font */
  --ff-primary: Helvetica, "Arial", sans-serif;
}

body {
  font-family: var(--ff-primary);
}

#root {
  padding-inline: 1rem;
  min-height: 100%;
  margin-inline: auto;
}

column-large {
  max-width: 1400px;
}

column-small {
  max-width: 1160px;
}
