.benefits {
  display: grid;
  gap: 120px;
  padding-block: 120px;
}

.benefit__content {
  max-width: 720px;
  margin: 0 auto;
}

.benefit__content > h3 {
  margin-bottom: 20px;
}

.benefit__content > p {
  margin-bottom: 60px;
  line-height: 27px;
}

.benefit__image-wrapper {
  display: grid;
  place-items: center;
}

@media (min-width: 1200px) {
  .benefits {
    grid-template-columns: repeat(2, 1fr);
  }

  .benefit__content {
    padding-bottom: 200px;
  }

  .benefit__image-column {
    position: relative;
  }

  .benefit__image-wrapper {
    position: sticky;
    top: 29vh;
    display: grid;
    place-items: center;
  }

  .benefit__image-wrapper img {
    display: none;
  }

  .benefit__image-wrapper img.active-benefit {
    display: block;
    animation: animateIn 0.75s ease-in-out forwards;
    z-index: 2;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
